<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Telerik.Windows.Controls.QuickStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--If eqatecProductKey left blank, no tracking is performed-->
    <add key="eqatecProductKey" value=""/>
  </appSettings>
  <userSettings>
    <Telerik.Windows.Controls.QuickStart.Properties.Settings>
      <setting name="IsAnalyticsTrackingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasStartupDialogShown" serializeAs="String">
        <value>False</value>
      </setting>
    </Telerik.Windows.Controls.QuickStart.Properties.Settings>
  </userSettings>
</configuration>