<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    
    <add name="NorthwindEntities" 
         connectionString="metadata=
         res://QuickStart.DataBase/Northwind.csdl|
         res://QuickStart.DataBase/Northwind.ssdl|
         res://QuickStart.DataBase/Northwind.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=.\SQLEXPRESS;
                                          attachdbfilename=|DataDirectory|\Northwind.mdf;
                                          integrated security=True;
                                          User Instance=True;
                                          multipleactiveresultsets=True;&quot;" 
         providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>
    <!--If eqatecProductKey left blank, no tracking is performed-->
    <add key="eqatecProductKey" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
<system.serviceModel>
	<bindings>
		<basicHttpBinding>
			<binding name="ConvertServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
				receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				useDefaultWebProxy="true">
				<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384"
					maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				<security mode="None">
					<transport clientCredentialType="None" proxyCredentialType="None"
						realm="" />
					<message clientCredentialType="UserName" algorithmSuite="Default" />
				</security>
			</binding>
		</basicHttpBinding>
	</bindings>
	<client>
		<endpoint address="http://codeconverter.sharpdevelop.net/ConvertService.asmx"
			binding="basicHttpBinding" bindingConfiguration="ConvertServiceSoap"
			contract="ServiceReference1.ConvertServiceSoap" name="ConvertServiceSoap" />
	</client>
</system.serviceModel>
</configuration>
