<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities"
     connectionString="metadata=
         res://QuickStart.DataBase/Northwind.csdl|
         res://QuickStart.DataBase/Northwind.ssdl|
         res://QuickStart.DataBase/Northwind.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=.\SQLEXPRESS;
                                          attachdbfilename=|DataDirectory|\Northwind.mdf;
                                          integrated security=True;
                                          User Instance=True;
                                          multipleactiveresultsets=True;&quot;"
     providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>